<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <!-- Opt. 1 Connects to a specified SQL Server Instance that can be a SQL Express Server or a SQL Server-->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=i4dab.ase.au.dk;Initial Catalog=F16I4PRJ4Gr7;User ID=F16I4PRJ4Gr7;Password F16I4PRJ4Gr7" />
      </parameters>
    </defaultConnectionFactory>
    <!-- Opt. 2 Connects to the ADO.NET EF default LocalDB instance named "mssqllocaldb"-->
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" /> 
      </parameters>
    </defaultConnectionFactory>-->
    
    <!--Opt. 3  Connects to the ADO.NET EF default SQL Express instance named "SQLEXPRESS" -->
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/> Uses default SQLEXPRESS-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
